@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

:root {
    --cor0:#F7DACC;
    --cor1:#BF2D40; 
    --cor2:#5A170F; 
    --cor3:#FFA34A;
    --cor5:#1C1519; }
 
body {background-image: url(midias/padrao.png);
     background-color: var(--cor0);
     font-family: "Montserrat", Arial, Helvetica, sans-serif;
     margin: 0px;}

.back {
     margin: 0px; 
     margin-bottom: 0px;
     background-image: linear-gradient(45deg,  var(--cor1), var(--cor3))}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 30px;
     margin: 0px;}
.primeiro {margin-left: 25px;}

nav > a { 
     padding: 5px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     margin-left: 5px;
     color: var(--cor0);
     background-color: var(--cor2);
     text-decoration: none;}
nav {
     color: var(--cor2);
     padding: 5px;
     margin: 0px;
     margin-bottom: 0px;}
a:active {color: var(--cor2);}
a:hover {color: var(--cor1); background-color: var(--cor3);}

main {
     background-color: beige;
     padding: 30px;
     box-shadow: 3px 5px var(--cor2);
     text-align: justify;
     min-width: 320px;
     max-width: 800px;
     margin: auto;}

.margem {width: 90%;
           margin: auto;} 

.parallax { background-image: url(midias/web.png);
           height: 300px;
           background-attachment: fixed;
           background-position: center;
           background-repeat: no-repeat;
           background-size: contain;
           border-radius: 15px;}

#ref {text-align: right;
               color: var(--cor3);
               text-decoration: underline;
               margin: 2% 7%;}
 
.videorosa {background-color: var(--cor1);
      margin: 0px -30px 0px;
      padding: 5px;
      padding-bottom: 50%;
      position: relative;}

.videorosa > video { border-radius: 15px;
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;}

h1, h2 {color: var(--cor2);
     font-size: 28px;
     margin-right: 100px;
     text-align: left;}
h2{ font-size: 22px;}

main > p {color: var(--cor5);}

p {text-indent: 20px;
  line-height: 2em; }

.quadrados{
      display: inline-block;
      margin: 20px;
      padding: 10px;
      border: #5A170F, solid, 2px;
      border-radius: 15px;
      width: 300px;
      height: 320px;}

 footer {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--cor0);
      padding: 5px;
      margin: 0px;
      background-color: var(--cor2);}

/*Aqui começa o Css Expecifico da pag "contato"*/
.contato {background-image: url(midias/backgrund.png);
      height: autopx;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;}  

table {width: 400px;
      height: 200px;
      border-collapse: collapse;}
td {border: 2px, solid, var(--cor2);
      padding: 8px;
      text-align: center;
      vertical-align: top;}

thead {background-color: var(--cor3);
      width: 400px;
      height: 50px;}

th { border: 2px, solid, var(--cor2);
      border-collapse: collapse;
      text-align: center;
      vertical-align: middle;} 
.two {background-color: var(--cor0);}
